body {
    margin: 0;
    padding: 0px 0px 0px 0px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    background-color: #0582ef;
    width: 100%;
}

.navbar.transparent {
    background-color: transparent;
}

.nav-list {
    list-style: none;
    display: flex;
    align-content: space-evenly;
}

.nav-item {
    padding: 10px;
}

section {
    height: 100vh;
    /*background-color: #6d0aca;*/
    margin: 0;
    border: 2px solid #ccc;
}